      </div>
      <div class="col-md-3" id="sidebar">
        <div class="panel panel-primary">
          <div class="panel-heading">Pages</div>
          <div class="panel-body">
            <ul class="nav nav-stacked">
              <li><a href="/">Home</a></li>
              <li><a href="/pages/about">About</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Latest Articles</div>
          <div class="panel-body">
            <ul class="nav nav-stacked">
              <li><a href="/posts/2014/01/12/Hello-World">Hello World</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var converter = new Showdown.converter();

angular.module('showdown', []).directive('dudaPost', function(){
    return {
        restrict: 'C',
        controller: function(){},
        link: function(scope, element, attrs) {
            var md = converter.makeHtml(element.html().trim());
            element.html(md)
        }
    }
})

var app = angular.module('app', ['showdown']);

</script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
