<div class="panel panel-default">
  <div class="panel-heading">Welcome</div>
  <div class="panel-body">
    <p>
      <a href="http://duda.io">Duda I/O</a>
      is a high performance Web Services framework, it can be used to
      build any application that requires to reach high performance limits.
    </p>
    <p>
      This Blog is powered by
      <a href="http://git.monkey-project.com/?p=duda-blog;a=summary">
        Duda-Blog C Web Service
      </a>, for more details please refer to the
      <a href="/pages/about">
        About page
      </a>.
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Blog Posts</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="posts/2014/01/12/Hello-World">Hello World</a></li>
    </ul>
  </div>
</div>
